# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
*.icloud

# Xcode user settings
xcuserdata/
*.xcuserstate

# Xcode build files
build/
DerivedData/
*.moved-aside
*.hmap

# App packaging
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/